.nav-header {
    background: #070920;
    height: 80px;
}

.nav-title {
    color: #a993fff5;
    outline-width: 36px;
    font-size: 37px;
    font-weight: 700;
    font-family: monospace;
    letter-spacing: 6px;
    font-style: italic;
}

.nav-title span {
    color: #ff0052;
}

.nav-menu a {
    text-decoration: none;
    padding: 0px 15px;
    color: white;
    font-weight: bold;
}

.nav-button {
    margin-left: 55px;
    color: #ff0052;
    font-weight: bold;
    border: 1px solid #3c3a3a;
    padding: 10px 40px;
}

.single-inventory-items-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 25px;
}

.inventory-items-container {
    width: 95%;
    margin: 0 auto;
}

.inventory-item {
    position: relative;
    width: 500px;
}

.inventory-item img {
    width: 625px;
    border-radius: 10px;
    height: 350px;
    object-fit: cover;
}

.item-info {
    position: absolute;
    top: 0;
    padding-left: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.update-btn {
    width: 25%;
    border: none;
    outline: none;
    cursor: pointer;
    background: #ff0e46;
    padding: 8px;
    border-radius: 25px;
    font-weight: 600;
    color: #ffffff;
}

/* Footer design */
.footer {
    background: #070920;
    color: white;
    padding: 80px 0px;
    text-align: center;
    margin-top: 50px;
}

.social-icon {
    width: 30px;
    border: 1px solid #515e52;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    margin-right: 15px;
}

/* All items component css style */
.items-info img {
    height: 250px;
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
    padding: 10px 12px;
}

.items-info {
    text-align: center;
    background: #fff7f7;
}

.items-container_2 {
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    overflow: hidden;
    height: 530px;
}

.all-items-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 95%;
    margin: 0 auto;
}

/* Sing in and sing up form style */
.divider-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.divider-img img {
    width: 95%;
}

.divider-info {
    width: 66%;
    margin: 0 auto;
    text-align: center;
}

.user-input {
    display: block;
    margin: 0 auto;
    width: 70%;
    border-bottom: 2px solid #38d39f;
    margin-bottom: 30px;

}

.all-items-title {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 25px;
    font-style: italic;
    font-family: arial black;
    font-size: 32px;
    color: #262525;
}

.user-input input {
    outline: none;
    border: none;
    background-color: none;
    width: 100%;
}

.divider-info img {
    width: 25%;
    margin-bottom: 32px;
}

.or-container div {
    height: 1px;
    width: 147px;
    background: #d5c6c6;
}

.or-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.or-container strong {
    padding: 0px 16px;
}

.submit-type {
    border: none;
    padding: 8px;
    font-weight: bold;
    color: white;
    background: #38d39f;
    width: 52%;
    border-radius: 50%;
    margin-bottom: 14px;
}



.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: none;
    outline: none;
    width: 52%;
    padding: 7px 0px;
    border-radius: 50%;
    font-weight: bold;
    background: #3a0760;
    color: white;
}

.google-btn img {
    margin-bottom: 0px;
    width: 15%;
}

.strong {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    color: #4716bf;
}

/* Section one css */
.one-container {
    padding: 40px 0px;
}

.one-info-Container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 95%;
    margin: 0 auto;
    margin-top: 80px;
    align-items: center;

}

.one-info h3 {
    font-size: 33px;
    margin-bottom: 40px;
}

.oneImg {
    width: 600px;
}

.oneImg img {
    width: 100%;
}

.one-info span {
    color: #4069ff;
    font-size: 45px;
    font-family: inherit;
}

/* section two style */
.two-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 95%;
    margin: 0 auto;
    gap: 35px;
}

.two-info {
    border: 1px solid #d9d1d1;
    width: 290px;
    overflow: hidden;
    border-radius: 10px;
}

.two-info img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 18px;
    margin-bottom: 20px;
    padding: 7px;
}

.two-info button {
    width: 100%;
    border: none;
    padding: 4px 0px;
    font-weight: bold;
    background: #04213e;
    color: white;
}

.two-info h4 {
    padding: 0px 15px;
}

.two-info p {
    padding: 0px 15px;
}

.title-container {
    margin-bottom: 40px;
}

.section-title {
    width: 274px;
    border-bottom: 3px solid #ff003b;
    margin: 0 auto;
    padding-bottom: 10px;
}

.two {
    width: 138px;
}

.one {
    width: 242px;
}

.bg-color {
    background: whitesmoke;
    padding: 40px 0px;
}

/* Banner */
.site-banner {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    background: linear-gradient(#00000075, #00000075), linear-gradient(#00000075, #00000075), url(../../images/slider-1.jpg);
    height: 90vh;
}

.banner-info-container {
    height: 500px;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-info-container h1 {
    font-size: 55px;
    letter-spacing: 30px;
    font-family: cursive;
    color: #ff0052;
    ;
    font-weight: bold;
}

.banner-info-container h2 {
    font-family: arial black;
    font-style: italic;
    font-size: 40px;
    line-height: 60px;
    color: #c7c7c7;
    letter-spacing: 6px;
}

.banner-info {
    width: 303px;
    position: relative;
}

.first-one {
    position: absolute;
    left: 114px;
    top: 19px;
    font-size: 17px;
    font-style: italic;
    color: #cc00ff
}

.second-one {
    border-bottom: 2px solid #cc00ff;
    width: 115px;
    padding-bottom: 8px;
    font-size: 22px;
    font-style: italic;
}

/* see more */
.see-more {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.see-more button {
    outline: none;
    border: none;
    padding: 1px 15px;
    background-color: #200966;
    font-weight: bold;
    color: white;
    border-radius: 25%;
}

/* update items css */
.update-item-img img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
}

.update-item-img {
    width: 780px;
    padding-right: 20px;
}

.update-item-container {
    display: flex;

}

.update-item-info {
    width: 620px;
    border-left: 3px solid #ff33a4;
    /* margin-left: 20px; */
    padding-left: 20px;
}

.update-container {
    width: 85%;
    margin: 0 auto;
    border: 3px solid #ff33a4;
    margin-top: 40px;
    border-radius: 10px;
    overflow: hidden;
}

.product-id {
    text-align: center;
    border-bottom: 3px solid #ff33a4;
    margin-bottom: 0;
    padding: 8px 0px;
    background: #f7f7f7;
}

.delivered {
    border: none;
    outline: none;
    background: #ff0052;
    color: white;
    padding: 3px 13px;
    border-radius: 30%;
    font-weight: bold;
    margin-bottom: 12px;
}

.update-form input {
    border: 2px solid #ff0052;
    border-radius: 5px;
    margin-right: 12px;
}

.add-new {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}

/* add items css */

.add-new {
    width: 85%;
    margin: 0 auto;
    /* border: 1px solid; */
    text-align: center;
    padding-top: 25px;
}

.form-container {
    border: 1px solid;
    width: 45%;
    margin: 0 auto;
    padding: 35px;
}

.form-container input,
textarea {
    width: 100%;
    margin-bottom: 12px;
    padding: 5px;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
}

input.add_items {
    background: #ff0047;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
}